<%- include('../includes/head.ejs') -%>
</head>

<body class="home-bg-color">
  <%- include('../includes/navigation.ejs') %>
  <section>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline" action="/weather" method="post">
        <input class="form-control mr-sm-2" type="search" placeholder="City, State" id="city_state" name="city_state"
          aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
  </section>
  <section class="container">
    <ul class="list-group" role="group">
      <li class="list-group-item">
        <button type="button" class="btn btn-primary btn-lg flex-center">
          <div>
            City Name
          </div>
          <div style="margin-left: 12rem;">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path fill-rule="evenodd"
              d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z" />
          </svg>
          </div>
        </button>
      </li>
    </ul>

  </section>

  <footer>

  </footer>

  <%- include('../includes/end.ejs') %>