<header class="container bw-header">
  <div class="row">
    <div class="logo col-2 d-flex align-items-center">
      <a>Logo</a>
    </div>
    <div class="col-10 d-flex justify-content-center">
        <h3 class="mt-2"><%= title %></h3>
    </div>
  </div>
</header>