<!DOCTYPE html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->

   <title><%= title %></title>
   <meta name="author" content="Christian Thompson">
   <meta name="description" content="A basic weather app I created as a personal project for my porfolio">
   <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
   <!-- <link rel="apple-touch-icon-precomposed" href=""> -->
   <!-- FontAwesome Icons -->
   <script src="https://kit.fontawesome.com/06d19d0b65.js" crossorigin="anonymous"></script>
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

   <!-- Custom Styles -->
   <link type="text/css" rel="stylesheet" href="/css/main.css" media="screen">