<form class="<%= visibility === true ? "visible" : "invisible" %>" action="/save-weather" method="POST">
    <button type="submit" class="btn btn-success save-button">Save Weather</button>
    <input type="hidden" name="city" value="<%= city %>">
    <input type="hidden" name="id" value="<%= cityID %>">
    <input type="hidden" name="state" value="<%= state %>">
</form>