<section>
    <nav class="navbar navbar-light bg-light d-flex justify-content-center">
        <form class="form-inline" action="/weather" method="post">
            <input class="form-control mr-sm-2" type="search" placeholder="City, State" id="city_state"
                name="city_state" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</section>